.card {
  width: 18rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--p-green-50);
  background: var(--p-green-500);
}

:where(.card_body, .card_footer) {
  padding: 15px 10px;
  background: var(--p-green-50);
}

.card_body {
  .card_text-state {
    margin-top: 10px;
    width: fit-content;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    color: var(--p-orange-50);
    border-radius: 15px;
    background: var(--p-yellow-500);
  }

  .card_text-state.complete {
    background: var(--p-green-500);
  }
}

.card_footer {
  text-align: right;
}

.container_popover {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

