@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--p-gray-950);
  background: var(--p-gray-100);
}

.btn_primary .p-button {
  padding-block: 5px;
}

.btn_ellipsis .p-button {
  border-color: transparent;
  color: var(--p-green-50);
  background: transparent;
}

.btn_ellipsis .p-button:not(:disabled):hover {
  border-color: transparent;
  background: transparent;
}

.btn_popover .p-button {
  width: 7rem;
  padding-block: 5px;
  padding-inline: 5px;
  border-color: var(--p-orange-400);
  background: var(--p-orange-400);
}

.btn_popover .p-button:not(:disabled):hover {
  border-color: var(--p-orange-500);
  background: var(--p-orange-500);
}
