.task_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.task_filter {
  width: fit-content;
}

.task_list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 3rem;
}
